/* styles.css */
body {
    font-family: "Open Sans", "Helvetica", "sans-serif";
    background-color: #f4f4f4;
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.board-container {
    width: 80%;
    max-width: 900px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #3498db;
}

.summary {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.summary-item {
    background-color: #34495e;
    padding: 0;
    border-radius: 8px;
    width: 30%;
    text-align: center;
}

.summary-item h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

.summary-item p,
.summary-item ul {
    font-size: 16px;
    color: white;
}

.summary-item ul {
    list-style-type: none;
    padding: 0;
}

.user-ranking {
    margin-top: 20px;
    text-align: center;
    background-color: #34495e;
    padding: 20px;
    border-radius: 8px;
}

.user-ranking h2 {
    color: white;
    margin-bottom: 10px;
}

.user-ranking p {
    font-size: 18px;
    color: white;
}
p#total-candidates {
    font-size: 20pt;
    font-weight: 900;
}
